<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Blog - BlogMaster</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="create-container">
      <header>
        <h1>Edit</h1>
      </header>
      <div class="home-nav">
        <a href="/" class="home">Home</a>
      </div>
      <main>
        <div class="container">
          <form
            action="/edit/<%= blog.id %>"
            method="POST"
            enctype="multipart/form-data"
            class="create-form"
          >
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              name="title"
              value="<%= blog.title %>"
              required
            />
            <label for="content">Content</label>
            <textarea id="content" name="content" required>
<%= blog.content %></textarea
            >
            <label for="image">Image</label>
            <input type="file" id="image" name="image" />
            <button type="submit" class="create-button">Update</button>
          </form>
        </div>
      </main>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
